body {
    background-color: burlywood;
}

header {
    background-color: gray;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#salmonPic {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

/* ths is sales.html*/
#salesTable {
    position: relative;
    left: 600px;
    border: 1.5px solid black;
    box-shadow: 5px 10px 15px black;
    background-color: blanchedalmond;
    margin: 100px;
    justify-content: center;
    height: 100px;
}

th, td {
    border: 1px solid black;
}

form {
    display: flex;
    width: 300px;
    height: 250px;
    padding: 1em;
    margin-top: 40px;
    box-sizing: border-box;
    background : rgb(214, 198, 198) url(background.jpg);
    /* we create our grid */
    display  : grid;
    grid-template-columns : repeat(2, 1fr);
    /* grid-template-rows:20em 20em 20em 20em; */
    box-shadow: 5px 10px 15px black;
}

#formSection {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

legend {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;

}


